head{

margin-left: 45%;
	
}

body{
	background-color: green;
	margin-left: 10%;
	margin-right: 10%;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	margin-left: 37%;
}
#list{
	background-color: red;
}
#refreshButton{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#sendButton{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#ledOnButton{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#ledOffButton{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#baby{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#exercise{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#disconnectButton{
	width: 50%;
	height: 50px;
	margin-left: 25%;
}
#humid{
	margin-left: 25%;
}
#temp{
	margin-left: 5%;
}
#light{
	margin-left: 10%;
}

	
