head{

margin-left: 45%;
	
}

body{
	background-color: #ffcc99;
	margin-left: 25%;
	margin-right: 10%;
}	
img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	margin-left: 10%;
}
#list{
	background-color: red;
}
#refreshButton{
	width: 50%;
	height: 50px;
	
}
#sendButton{
	width: 50%;
	height: 50px;
	
}
#ledOnButton{
	width: 50%;
	height: 50px;
	
}
#ledOffButton{
	width: 50%;
	height: 50px;

}
#baby{
	width: 50%;
	height: 50px;

}
#exercise{
	width: 50%;
	height: 50px;
	
}
#disconnectButton{
	width: 50%;
	height: 50px;
	
}

#humidityInput{
	width: 5%;
	margin-left: 2%;
}
#temp{
	margin-left: 20%;
}
#tempInput{
		width: 5%;
	margin-left: 20%;
}
#light{
	margin-left: 25%;
}
.lighSlider{
	width: 50%;
}
.slider{
	background: gray;
	width: 50%;
	margin-top: 20px;
}
#setTemp{
	margin-left: 2%;
}


	
